.SideBar {
  background: #0d1130;
  text-align: center;
  position: fixed;
  height: 100%;
  &__devsTitle {
    font-weight: 800;
    font-size: 15px;
    color: blueviolet;
    margin: 14px 0px;
  }
  &__devsBox {
    justify-content: space-evenly;
    border-width: thin;
    border: solid white;
    &__ProPic {
      height: 78px;
      margin: 3px;
      border-radius: 50%;
    }
  }
  &__devNames {
    display: flex;
    justify-content: space-evenly;
    font-weight: 900;
    color: blueviolet;
    &__michael {
      margin: 0px 0px 0px -13px;
    }
    &__vato {
      margin-left: 8px;
    }
  }
  &__Heading {
    font-size: 128%;
    font-weight: 700;
    color: white;
    margin: 14px 0px 7px 0px;
  }
  &__subHead {
    font-size: 10px;
  }
  &__logos {
    margin: 20px 0px;
    &__icons {
      height: 40px;
      margin: 0px -7px;
    }
  }
  &__user {
    font-size: 14px;
    color: white;
    font-weight: 700;
  }
}
